swagger: "2.0"
info:
  version: "1.0.0"
  title: "POKEDEX"
  description: "pokemon searching tool"
schemes:
  - "http"
  - "https"
produces:
  - "application/json"
tags:
  - name: pokemon
    description: Endpoints using pokemon

paths:
  /pokemon/all:
    get:
      tags:
        - pokemon
      parameters:
        - in: query
          required: true
          name: offset
          default: 0
          type: number
      description: "Returns all pokemon information"
      operationId: "getAllPokemon"
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AllPokemonResponse"
        "400":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"

  /pokemon/{id}:
    get:
      tags:
        - pokemon
      description: "get a pokemon by id"
      operationId: "getPokemonById"
      parameters:
        - in: path
          required: true
          name: id
          type: number
      responses:
        "200":
          description: "ok"
          schema:
            $ref: "#/definitions/Pokemon"
        "400":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"

  /pokemon/region/{regionName}:
    get:
      tags:
        - pokemon
      description: "gets a pokemon by their region of origin"
      operationId: "getPokemonByRegion"
      parameters:
        - in: path
          required: true
          name: regionName
          type: string
      responses:
        "200":
          description: "ok"
          schema:
            $ref: "#/definitions/Pokemon"
        "400":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /pokemon/type/{typeName}:
    get:
      tags:
        - pokemon
      description: "Gets pokemon by their type."
      operationId: "getPokemonByType"
      parameters:
        - in: path
          required: true
          name: typeName
          type: string
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Pokemon"
        "400":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"
        "500":
          description: "Response with error."
          schema:
            $ref: "#/definitions/ErrorResponse"

definitions:
  AllPokemonResponse:
    type: "object"
    required:
      - "allPokemon"
    properties:
      allPokemon:
        type: "array"
        items:
          $ref: "#/definitions/Pokemon"

  Pokemon:
    type: "object"
    required:
      - name
    properties:
      name:
        type: "string"
      height:
        type: "number"
      weight:
        type: "number"
      frontSprite:
        type: "string"
      types:
        type: "array"
        items:
          $ref: "#/definitions/NameUrl"
      abilities:
        type: "array"
        items:
          $ref: "#/definitions/NameUrl"

  NameUrl:
    type: "object"
    required:
      - name
      - url
    properties:
      name:
        type: "string"
      url:
        type: "string"

  ErrorResponse:
    type: "object"
    required:
      - message
    properties:
      messages:
        type: "array"
        items:
          type: "string"
        example:
          - "foo"
          - "bar"